# Editors
.ropeproject/
.spyproject/
.vscode/
.idea/
.mypy_cache/

# Language server protocol
.lsp_symlink

# Test
.coverage
.cache
.hypothesis
.pytest_cache/

# Python
*.pyc
*.swp
__pycache__
.ipynb_checkpoints/

# Environment
.env/
venv/
.venv/

# data
output/
data/
models/

# Temp files
temp/
junk*

# Experiments
pilot/
scratch/
old/
experiments/

# Notes
notes/
papers/

# C++
build/
extern/
.rendered.*.cpp
*.so
