# Editors
.ropeproject/
.spyproject/
.vscode/
.idea/
.mypy_cache/

# Test
.coverage
.cache
.hypothesis
.pytest_cache/

# Python
*.pyc
*.swp
__pycache__
.ipynb_checkpoints/

# Environment
.env
venv/
.venv/

# data
output/
data/
!data/augment

# Temp files
temp/
junk*

# Other code
args/

# Experiments
pilot/
