# Editors
.ropeproject/
.spyproject/
.vscode/
.idea/
.mypy_cache/

# Test
.coverage
.cache
.hypothesis
.pytest_cache/

# Python
*.pyc
*.swp
__pycache__
.ipynb_checkpoints/

# Environment
.env
venv/
.venv/

# data
output/
data/backup/
data/images/
data/processed/
data/raw/
data/temp/

# Temp files
temp/
junk*

# Experiments
pilot/
