Pillow
albumentations
chardet
cppimport
easyocr
effdet
jupyter
matplotlib
nltk
numpy
pandas
pybind11
pytesseract
scikit-image
scikit-learn
scipy
tqdm

# torch
# torchvision

# torch==1.10.0+cu113
# torchvision==0.11.1+cu113
