Pillow
albumentations
chardet
cppimport
cython
python-dateutil
easyocr
effdet
fastapi
gensim
jinja2
jupyter
matplotlib
nltk
numpy
openai
pandas
pybind11
pycocotools
pydantic
pytesseract
python-multipart
regex
requests
scikit-image
scikit-learn
scipy
seaborn
spacy==3.3.0
tqdm
uvicorn[standard]

# Use the GPU version
# torch
# torchvision
