Pillow
cppimport
easyocr
jupyter
matplotlib
nltk
numpy
pandas
pybind11
pyenchant
pyspellchecker
pytesseract
opencv-python
scikit-image
scikit-learn
scipy
tqdm

# torch==1.8.1+cu111
# torchvision==0.9.1+cu111
# nlp
# transformers
# pytorch-lightning
# paddleocr
