<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<title>Traiter</title>
<style>
{% include 'css_template.css' -%}
</style>
</head>
<body>
<h1>{{ trait_set }}: {{ now }}</h1>

{% for datum in data %}
<div><label>Label ID: </label>{{ datum.label_id }}</div>
    <p>{{ datum.text | safe }}</p>
    {% if datum.traits %}
        <table>
            <thead>
                <tr>
                    <th>
                        <button class="toggle closed" data-index="{{ loop.index }}" title="Show or hide all extractions">
                        </button>
                    </th>
                    <th>Trait Label</th>
                    <th>Trait Data</th>
                </tr>
            </thead>
            <tbody class="closed" data-index="{{ loop.index }}">
                {% for trait in datum.traits %}
                    <tr>
                        <td></td>
                        <td>{{ trait.label | safe }}</td>
                        <td>{{ trait.data | safe }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endfor %}

<script>
{% include 'javascript_template.js' -%}
</script>

</body>
</html>
