@font-face {
    font-family: "SourceSansPro";
    src: url("/static/Source_Sans_Pro/SourceSansPro-Regular.ttf") format('truetype');
}

body {
    font-family: "SourceSansPro", sans-serif;
    line-height: 1.2rem;
    font-size: 1.2rem;
    background-color: rgb(253, 253, 253);
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 400px 1fr;
    margin: 2em;
    gap: 20px;
    grid-template-areas:
        "header header"
        "form   text"
        "sheet  label";
}

@media screen and (max-width: 960px) {
    .grid {
        display: grid;
        margin: 1em;
        gap: 12px;
        grid-template-areas:
            "header"
            "form"
            "sheet"
            "text"
            "label";
    }
}

h1 {
    grid-area: header;
    text-align: center;
    font-size: 3.2rem;
}

input,
select,
button {
    font-family: "SourceSansPro", sans-serif;
    font-size: 1.2rem;
}

textarea {
    font-family: "SourceSansPro", sans-serif;
    font-size: 1.1rem;
}

#prev-label-index,
#next-label-index {
    font-family: "SourceSansPro", sans-serif;
    font-size: 1.2rem;
    width: 32px;
}

.form {
    grid-area: form;
}

.text {
    grid-area: text;
}

.sheet {
    grid-area: sheet;
}

.label {
    grid-area: label;
}

.cell {
    display: block;
    margin: 1.2rem 0;
}

.params label {
    display: inline-block;
    width: 8rem;
}

hr {
    width: 90%;
    color: rgb(250, 250, 255);
}

input[type=number] {
    text-align: center;
    appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.main button {
    vertical-align: center;
    margin: 1rem 0;
    position: relative;
    padding: 8px 16px;
    background: #009579;
    border: none;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
}

.main button:disabled {
    background: #ccc;
}

.main button.loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

.main button span {
    color: rgb(0, 0, 0);
    transition: all 0.2s;
}

.main button.loading span {
    visibility: hidden;
}

#find-labels,
#save-labels {
    float: left;
}

#ocr-labels,
#save-text {
    float: right;
}

#label-index {
    width: 4rem;
}

#label-info {
    border: 0;
    width: 100%;
}
